.block1 {
  background-color: #e4e6e6;
  font-size: 15px;
  height: 400px;
  width: 900px;
  overflow: auto;
  border-radius: 20px;
}

.inline2 {
  background-color: #a48259;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: inset 3px 3px 10px 1px  ;
  display: inline-block;
  height: 150px;
  width: 200px;
}

.inline3 {
  background-color: #a48259;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: inset 3px 3px 10px 1px  ;
  display: inline-block;
  height: 150px;
  width: 200px;
}

.inline4 {
  background-color: #a48259;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: inset 3px 3px 10px 1px  ;
  display: inline-block;
  height: 150px;
  width: 200px;
}

.inline5 {
  background-color: #a48259;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: inset 3px 3px 10px 1px  ;
  display: inline-block;
  height: 150px;
  width: 200px;
}

.inline6 {
  background-color: #a48259;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: inset 3px 3px 10px 1px  ;
  display: inline-block;
  height: 150px;
  width: 200px;
}

.inline7 {
  background-color: #a48259;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: inset 3px 3px 10px 1px  ;
  display: inline-block;
  height: 150px;
  width: 200px;
}

.inline8 {
  background-color: #a48259;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: inset 3px 3px 10px 1px  ;
  display: inline-block;
  height: 150px;
  width: 200px;
}

.inline9 {
  background-color: #a48259;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: inset 3px 3px 10px 1px  ;
  display: inline-block;
  height: 150px;
  width: 200px;
}

.inline10 {
  background-color: #a48259;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: inset 3px 3px 10px 1px  ;
  display: inline-block;
  height: 150px;
  width: 200px;
}